/bin/
/include/
/lib/
/library/
/modules/
Makeconf
Makedeps
Makefile
Makefrag.cc
Makefrag.cc_lo
Makefrag.cxx
Makefrag.m
SVN-REVISION
SVN-REVISION-tmp
config.log
config.status
doc/FAQ
doc/NEWS
doc/NEWS.2.rds
doc/NEWS.3.rds
doc/NEWS.rds
doc/R.1
doc/Rscript.1
doc/html/NEWS.html
doc/html/index.html
doc/html/packages.html
doc/manual/htmlxref.cnf
doc/manual/stamp-images-html
doc/manual/version.texi
etc/Renviron
etc/javaconf
etc/ldpaths
libtool
src/**/*.a
src/**/*.d
src/**/*.o
src/**/*.so
src/include/**/*.ts
src/include/**/*.tsa
src/include/Rconfig.h
src/include/Rmath.h
src/include/Rmath.h0
src/include/Rversion.h
src/include/config.h
src/library/
src/main/R.bin
src/scripts/R.fe
src/scripts/R.sh
src/scripts/Rcmd
src/scripts/javareconf
src/scripts/mkinstalldirs
src/scripts/pager
src/scripts/rtags
src/unix/Rscript
stamp-R
stamp-h
stamp-java
.cache/
compile_commands.json
/tests/**/*.Rout
/tests/**/*.Rout.prev
/tests/**/*.pdf
/tests/*.tar.gz
/tests/*.Rcheck
/tests/**/*-Ex.R*
/tests/Examples/example-1_def.R
/tests/Examples/example-1_myA-noF.R
/tests/Examples/example-1_myA.R
/tests/R-intro.R
/tests/Rplot001.bmp
/tests/ex.gz
/tests/no-segfault.R
/tests/p-r-random-tests_seed
