Makeconf
Makedeps
Makefile
Makefrag.cc
Makefrag.cc_lo
Makefrag.cxx
Makefrag.m
SVN-REVISION
SVN-REVISION-tmp
bin/
config.log
config.status
doc/FAQ
doc/NEWS
doc/NEWS.2.rds
doc/NEWS.3.rds
doc/NEWS.rds
doc/R.1
doc/Rscript.1
doc/html/NEWS.html
doc/html/index.html
doc/html/packages.html
doc/manual/htmlxref.cnf
doc/manual/stamp-images-html
doc/manual/version.texi
etc/Renviron
etc/javaconf
etc/ldpaths
include/
lib/
library/
libtool
modules
src/**/*.a
src/**/*.d
src/**/*.o
src/**/*.so
src/main/R.bin
src/scripts/R.fe
src/scripts/R.sh
src/scripts/Rcmd
src/scripts/javareconf
src/scripts/mkinstalldirs
src/scripts/pager
src/scripts/rtags
src/unix/Rscript
stamp-java
